#gitlab-personal-checklist-container{
    display: grid;
    grid-template-columns: 1fr;
}

#gitlab-personal-checklist-container.has-scratchpad{
    grid-template-columns: 1fr 0px 2fr;
}

#gitlab-personal-checklist-container.has-scratchpad.closed{
    grid-template-columns: 0 0 1fr;
}

#gitlab-personal-checklist{
    padding: 10px;
}

#gitlab-personal-checklist:focus{
    outline: 0;
}

#gitlab-personal-checklist-toggle{
    cursor: pointer;
    margin-left: -0.5em;
    z-index: 1;
}

#gitlab-personal-checklist.closed{
    overflow: hidden;
    padding: 0;
    width: 0;
}